body {
    background-color: antiquewhite;
}

#name{
    text-align: center;
    text-decoration: none;
}

#selfie{
    width: 15%;
    position: fixed;
    margin-left: 75%;
}
#experience-description{
    margin-top: 10%;
}

#service-titan{
    padding-top: 25%;
}

#beach{
    width:400px;
    height: 200px;
    position: left;
    margin-top: 15%;
}
#beach2{
    width:200px;
    height: 100px;
    position: static;
    display: block;
    margin-top: 2%;
    margin-left: 3%;
    
}

#desert{
    width:400px;
    height: 200px;
    position: left;
    margin-top: 15%;
}

#myHighlight{
    margin-top: 10%;
} 


/* Button Styling */

button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }

      @media screen and (min-width: 751px) {
    button {
        padding: 14px 25px;
        display: inline-flex;
        background-color: burlywood;
        margin: 0% 10% 0% 15%;
        }
}

@media screen and (max-width: 750px) {
    button {
        padding: 14px 25px;
        display: inline-flex;
        background-color: burlywood;
        margin: 0% 5% 0% 8%;
    }
  }

#linkedin-button {
    width:30px;
    height: auto;
    bottom: 10px;
    position: fixed;
    margin-left: 45%;
}

#github-button {
    width: 30px;
    height: auto;
    bottom: 10px;
    position: fixed;
    margin-left: 50%;
}